@import "tailwindcss";
@plugin "tailwindcss-noise";

@font-face {
  font-family: "PerfectlyNineties";
  src: url("./fonts/perfectlynineties-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-headings: "PerfectlyNineties", serif;
  --font-family-body: "Inter", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size-adjust: 0.52;
  line-height: 1.5;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }
}

@theme {
  --font-serif: "PerfectlyNineties", serif;
  --font-sans: "Inter", sans-serif;

  --color-s-primary: hsla(0, 0%, 7%, 1);
  --color-s-btn-primary: hsla(225, 7%, 89%, 1);
  --color-s-btn-primary-hover: hsla(225, 8%, 76%, 1);
  --color-s-select-hover: hsla(225, 8%, 76%, 1);
  --color-s-btn-secondary: hsla(240, 3%, 15%, 1);
  --color-s-btn-secondary-hover: hsla(240, 3%, 19%, 1);
  --color-s-card: hsla(0, 0%, 100%, 0.02);
  --color-s-overlay: hsla(0, 0%, 0%, 0.5);
  --color-s-modal: hsla(240, 3%, 8%, 1);

  --color-t-primary: hsla(225, 7%, 89%, 1);
  --color-t-secondary: hsla(248, 3%, 54%, 1);
  --color-t-placeholder: hsla(0, 0%, 25%, 1);

  --color-b-primary: hsla(0, 0%, 14%, 1);

  --color-status-reading: hsla(48, 100%, 77%, 1);
  --color-status-to-read: var(--color-t-secondary);
  --color-status-completed: hsla(248, 67%, 74%, 1);

  --shadow-outline: 0 0 0 3px hsla(240, 3%, 25%, 80%);
  --shadow-outline-option: 0 0 0 2px hsla(225, 7%, 89%, 1);
  --shadow-card-hover: 0 0 8px 0 rgba(255, 255, 255, 0.12);
}

h1,
h2 {
  font-family: var(--font-family-headings);
}

p,
li,
span {
  font-family: var(--font-family-body);
}

select,
::picker(select) {
  appearance: base-select;
}

.active-filter {
  background-color: hsla(240, 2%, 15%, 1);
  border: 1px solid hsla(248, 3%, 54%, 0.2);
}
